@import "tailwindcss";

html, body {
  font-family: 'Outfit', 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background-color: #ffffff;
}